<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrapper {
            top: 30%;
            left: 50%;
            width: 450px;
            height: 450px;
            position: absolute;
            margin-top: -225px;
            margin-left: -225px;
            font-size: 200%;
        }
        body {
            background-color: lightskyblue;
            background-size: 100%;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h1>User with this 'username' already exists</h1>
</div>
</body>
</html>