<nav>
  <div class="nav-wrapper teal lighten-2">
    <a routerLink ="/login" class="brand-logo" style="font-family: Comic Sans MS, Geneva, sans-serif">AuthWebApp</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink ="/login">Вход</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink ="/register">Регистрация</a>
      </li>
    </ul>
  </div>
</nav>

<div class="auth-block">

<div class="card">
  <form [formGroup]="form">
  <div class="card-content">
    <span class="card-title">Войти в систему</span>
    <span class="helper-text red-text">{{invalidData}}</span>
    <div class="input-field">
      <input
        formControlName="username"
        id="username"
        type="text" class="validate">
      <label for="username">Имя пользователя:</label>
      <span class="helper-text red-text"
        *ngIf="form.get('username')?.invalid && form.get('username')?.touched">Введите имя пользователя!
      </span>
    </div>
    <div class="input-field">
      <input
        formControlName="password"
        id="password"
        type="password">
      <label for="password">Пароль:</label>
      <span class="helper-text red-text"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Введите корректный пароль!
      </span>
    </div>
    <p>
      <label>
        <input type="checkbox" class="filled-in" name="remember-me-param"/>
        <span>Запомнить профиль?</span>
      </label>
    </p>
  </div>
  <div class="card-action">
    <button
      (click)="onSubmit(form.value)"
      type="submit"
      class="modal-action btn waves-effect"
    >
      Войти</button>
  </div>
  </form>
</div>

</div>
